@use 'reset' as *;
@use 'mixins' as *;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

// style
body {
  font-family: 'Rubik', sans-serif;
  color: #fff;
  background-color: hsl(226, 43%, 10%);
  display: grid;
  place-content: center;
}

.wrapper {
  width: clamp(330px, 90vw, 1040px);
  margin-inline: auto;
}

$colors: hsl(246, 80%, 60%), hsl(15, 100%, 70%), hsl(195, 74%, 62%),
  hsl(348, 100%, 68%), hsl(145, 58%, 55%), hsl(264, 64%, 52%), hsl(43, 84%, 65%);

@for $i from 1 through length($colors) {
  .dashboard__card:nth-child(#{$i}) {
    background-color: nth($colors, $i);
    border-radius: 1em 1em 2em 2em;
  }
}

.dashboard {
  display: grid;
  grid-template-columns: 330px;
  gap: 1em;
  place-content: center;
  @include mq(medium) {
    grid-template-columns: 20% repeat(3, 1fr);
    grid-auto-rows: 220px;
    gap: 1.5em;
  }
  &__user {
    @include mq(medium) {
      grid-row: 1/3;
      display: grid;
      grid-template-rows: auto auto;
    }
  }
  &__user-card {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    padding: 1.5em 1em;
    position: relative;
    background-color: hsl(246, 80%, 60%);
    border-radius: 1em;
    @include mq(medium) {
      flex-direction: column;
      align-items: start;
      gap: 2em;
      justify-content: start;
    }

    img {
      width: 60px;
      border: 2px solid #fff;
      border-radius: 100vh;
    }
    p {
      font-size: 15px;
    }
    strong {
      font-size: 20px;
      @include mq(medium) {
        font-size: 29px;
      }
    }
  }
  &__user-menu {
    border-radius: 0 0 1em 1em;
    margin-top: -1em;
    background-color: hsl(235, 46%, 20%);
  }
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 2em 1.5em 1em 1.5em;
    color: hsl(235, 45%, 61%);
    @include mq(medium) {
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;
    }

    li {
      cursor: pointer;
      &:hover {
        color: #fff;
      }
      &:nth-child(2) {
        color: #fff;
      }
    }
  }
  &__card {
    display: grid;
    grid-template-rows: 40px auto;
  }
  &__front {
    background-color: hsl(235, 46%, 20%);
    display: grid;
    padding: 1em 1.5em;
    border-radius: 1em;
    header {
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      font-weight: 500;
    }
    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: hsl(236, 100%, 87%);
      @include mq(medium) {
        flex-direction: column;
        align-items: start;
        justify-content: space-evenly;
      }

      strong {
        font-size: 30px;
        font-weight: 300;
        color: #fff;
        @include mq(medium) {
          font-size: 40px;
        }
      }
      p {
        font-size: 15px;
      }
    }
  }
  &__back {
    // text-align: right;

    display: flex;
    justify-content: flex-end;

    img {
      // width: 9rem;
      // height: 6rem;
      // margin-top: -5px;
      margin-right: 0.8em;
      // clip-path: inset(5px 0px 30px 0px);
    }
  }
}
